fastapi
uvicorn[standard]
jinja2
python-multipart
aiofiles
python-jose[cryptography]
bcrypt==3.2.2
passlib[bcrypt]
authlib
httpx
stripe
fastapi-mail
python-dotenv
anthropic
rapidfuzz
twilio
itsdangerous
